@import "normalize";
@import "typography";
@import "base";
#contact-section {
    display: flex;
    div {
        margin: 1.5em 1.5em 0 auto;
        a {
            span {
                display: none;
            }
        }
    }
}

#contact-icon {
    background: #202020;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    cursor: pointer;
}

#about-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
    height: 80vh;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    h1 {
        font-weight: 700;
        font-size: 2.4em;
        margin: 0;
    }
    p {
        margin: 0;
    }
}

#headShot {
    height: 50vh;
    margin-top: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.github {
    display: flex;
    background: #535353;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    width: 100%;
    p,
    a {
        color: #B0B0B0;
        font-weight: 700;
    }
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3ce0a0;
    color: #B0B0B0;
    font-weight: 700;
    width: 50%;
    a {
        color: #B0B0B0;
    }
}

.linkedin {
    display: flex;
    justify-content: center;
    background: #FCFCFC;
    align-items: center;
    width: 50%;
    img {
        padding: 0.95em 0;
    }
}

// Medium Screen Styles
@media only screen and (min-width: 700px) {
    // Medium Screen Contact Section 
    #contact-section {
        div {
            a {
                display: flex;
                align-items: center;
                background: #3ce0a0;
                padding: 0em 1em 0 0;
                border-radius: 1.5em;
                color: #202020;
                font-weight: 700;
                span {
                    display: inline;
                    margin-left: 0.5em;
                }
            }
        }
    }
    #contact-icon {
        margin-right: auto;
        width: 1.5em;
        height: 1.5em;
    }
    // Medium Screen About Section
    #about-section {
        flex-wrap: nowrap;
    }
    .about-text {
        margin-left: 2em;
        align-items: center;
        h1 {
            font-size: 3.5em;
            text-align: center;
        }
        br {
            display: none;
        }
    }
    #headShot {
        height: 60vh;
    }
    // Medium Screen Navigation
    nav {
        flex-wrap: nowrap;
        width: 100%;
        height: 15vh;
    }
    .github {
        // width: 50%;
        // background: #202020;
        // color: #B0B0B0;
        // z-index: -1;
    }
    .slant {
        position: relative;
        overflow: hidden;
        color: #fff;
        z-index: 0;
    }
    .slant:after {
        content: '';
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;
        transform-origin: 100% 0;
        transform: skew(-45deg);
        background: #202020;
        z-index: -1;
    }
    .work {
        width: 30%;
        background: #535353;
    }
    .linkedin {
        width: 20%;
        order: -1;
        background: #535353;
    }
}