@import "vendor/reset";
@import "vendor/normalize";
@import "base/typography";
@import "base/base";
@import "abstract/variables";

// Home Page
#home-page-main {
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

#contact-section {
    display: flex;

    div {
        margin: 0.5em 0.5em 0 auto;

        a {
            span {
                display: none;
            }
        }
    }
}

#contact-icon {
    background: $dark-black;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    cursor: pointer;
}

#about-section {
    display: flex;
    justify-content: center;
    margin-top: auto;
    height: 80vh;
    flex-wrap: wrap-reverse;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 1em;

    h1 {
        font-weight: 700;
        font-size: 2.4em;
        margin: 0;
    }

    p {
        margin: 0;
    }
}

#headShot {
    height: 35vh;
    margin: auto 0;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-wrap: wrap;

    a {
        outline: none;
        transition: 300ms;

        &:hover {
            color: $off-white;
        }
    }
}

.github {
    display: flex;
    background: $dark-gray;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    width: 100%;

    p,
    a {
        color: $light-gray;
        font-weight: 700;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $seafoam-green;
    font-weight: 700;
    width: 50%;

    a {
        color: $dark-gray;
    }
}

.linkedin {
    display: flex;
    justify-content: center;
    background: $off-white;
    align-items: center;
    width: 50%;

    img {
        padding: 0.95em 0;
    }
}

// Medium Screen Styles
@media only screen and (min-width: 700px) {

    // Medium Screen Contact Section 
    #contact-section {
        div {
            a {
                display: flex;
                align-items: center;
                background: $seafoam-green;
                padding: 0em 1em 0 0;
                border-radius: 1.5em;
                color: $dark-black;
                font-weight: 700;
                transition: 300ms;

                &:hover {
                    color: $off-white;
                }

                span {
                    display: inline;
                    margin-left: 0.5em;
                }
            }
        }
    }

    #contact-icon {
        margin-right: auto;
        width: 2em;
        height: 2em;
    }

    // Medium Screen About Section
    .about-text {
        margin-left: 2em;
        align-items: center;

        h1 {
            font-size: 3.5em;
            text-align: center;
        }

        br {
            display: none;
        }
    }

    #headShot {
        height: 45vh;
    }

    // Medium Screen Navigation
    nav {
        flex-wrap: nowrap;
        width: 100%;
        height: 15vh;
    }

    .slant {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .slant:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 100% 0;
        transform: skew(-45deg);
        background: $dark-black;
        z-index: -1;
    }

    .projects {
        width: 30%;
        background: $dark-gray;

        a {
            color: $light-gray;
        }
    }

    .linkedin {
        width: 20%;
        order: -1;
        background: $dark-gray;
    }
}

// Projects Page
#projects-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

#projects-title {
    color: $seafoam-green;
    font-size: 2em;
    padding: 1em;
    background: $dark-gray;
    width: 100%;
}

.project {
    padding: 2em 0;
    width: 80%;
}

.project p {
    line-height: 1.5em;
}

.project a {
    color: $seafoam-green;
    font-weight: 700;
}

.project h2,
.project h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
    font-weight: 700;
}

.project img {
    width: 100%;
    height: auto;
}