.card {
    height: 400px;
    width: 300px;
    border-radius: 2.5%;
    overflow: hidden;
    /*  <property> <duration> <timing-function> <delay>  */
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    /* @keyframes duration | timing-function | delay | name */
    /* animation: 1.5s linear 1s floatShadow; */
    animation: 0.1s floatShadow forwards 0.5s;
}

.img-container {
    height: 50%;
    overflow: hidden;
}

.img-container img {
    width: 300px;
}

.card-text {
    margin: 1em;
}


@keyframes floatShadow {
    0% {
        box-shadow: inset 0 0 0 0 #ebebf0;
    }

    100% {
        box-shadow: inset 0 0 0 1px #ebebf0, 0 15px 30px 0 rgba(0, 0, 0, 0.15);
    }
}