.layout-container {
    height: 100%;
}

.layout-content {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    height: 100%;
}

.layout-footer {
    background: #cfcfcf;
    padding: 100px 0 10px 20px;
    margin-top: auto;
}

.layout-main {
    height: 100%;
}