.layout-container {
    height: 100%;
}

.layout-content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    height: 100%;
    justify-content: space-between;
}

.layout-footer {
    background: #cfcfcf;
    padding: 100px 0 10px 20px;
}