* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: #FCFCFC;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}